<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rabbits</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<h1 class="title text-center" th:text="${heading}"></h1>
<div class="container-fluid">
    <div class="row" >


        <div class="col-sm-4"></div>
        <div class="col-sm-4" id="main">
            <ol >
                <li  th:block th:each="p : ${pets}" id="name" th:text="${p}"></li></th:block></ol>
           </div>


        <div>

            <div class="col-sm-4">



            </div>

        </div>

    </div ></div>

    </th:block>

</div>
<div class="container-fluid">
    <div class="row">


        <div class="col-sm-4"></div>
        <div class="col-sm-4">
<form th:action="@{/nnproject/admin/submit}" method="get">
    <button class="btn btn-md btnprimary btn-block"
            type="Submit">Back to Submit Page</button>
</form>
<form th:action="@{/nnproject/admin/load}" method="get">
    <button class="btn btn-md btnprimary btn-block"
            type="Submit">Load 100 More Rabbits</button>
</form>
<form th:action="@{/nnproject/logout}" method="get">
    <button id="end" class="btn btn-md btnprimary btn-block"
            type="Submit">Logout</button>
</form>
        </div><div class="col-sm-4"></div></div></div>

</body>
</html>