<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Submit a Rabbit Name</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    body{
    background-image: url(https://media.giphy.com/media/Qet0oUlT61lJe/giphy.gif)
    }
    input{
    display:inline;
    width:400px;
    margin:20px;
    }
    form{
    margin:20px;
    }
    .container{
    width:600px;
    }
</style>

<body>
<div class="container">

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">

            </div>
            <div class="panel-body" >
                <div class="container">
                    <div class="col-sm-4"></div>
                    <form th:action="@{/nnproject/login}" method="POST" class="form-group">
                        <h3 class="form-signin-heading" >Submit a Rabbit Name to the Database</h3>
                        <br/>

                        <input type="text" id="rname" name="name"  th:placeholder="RabbitName"
                               />  <br/>


                        <button class="btn btn-lg btn-primary" name="Submit" value="Login" type="Submit" >Thank You! </button>
                    </form>
                    <div class="col-sm-4"></div>
                </div>
            </div>

        </div>

    <form th:action="@{/nnproject/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout</button>
    </form>
    </div>
</div>
</body>
</html>