<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Submit a Rabbit Name</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/submitcss.css}" rel="stylesheet" type="text/css"/>
</head>


<body>
<div class="container">

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background:#435969">
                <h1 class="text-center" th:text="${welcome}"></h1>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <form th:action="@{/nnproject/admin/submit}" method="POST" class="form-group"
                              th:object="${userRabbit}">

                            <h3 class="form-signin-heading" th:text="${heading}"></h3>
                            <br/>

                            <input type="text" id="rabbit" name="rabbit" th:field="*{rabbit}"
                                   th:placeholder="RabbitName"
                            /> <br/>

<div class="row">
                            <button class="btn btnprimary" name="Submit" type="Submit"
                                    th:text="${buttonText}"></button>
                        </form>

                    </div></div>
                    <div class="col-sm-4"></div>
                </div>
            </div>

        </div>
    <form th:action="@{/nnproject/admin/load}" method="post">
        <button class="btn btn-warning btn-block"
                type="Submit">Load 100 Random Rabbits
        </button>
    </form>
        <form th:action="@{/nnproject/logout}" method="get">
            <button class="btn btn-md btnprimary btn-block"
                    type="Submit">Logout
            </button>
        </form>
    </div>
</div>
</body>
</html>